* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-image: url('Images/SignVerse-Bold.jpg');
    background-size: cover;
    background-attachment: fixed;
    font-family: Arial, sans-serif;
    color: #333;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.header {
    text-align: center;
    margin-bottom: 20px;
}
.button {
    display: block;
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    text-align: center;
    background-color: #ffffff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.header h1 {
    font-style:Bold;
    font-size:2cm;
    color: #f87d02;
}

.header h2 {
    font-family: Monospace;
    font-size:1cm;
    color: #3B8AA9;
}

.row {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.column {
    flex: 1;
    margin: 0 10px;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
}

.column h3 {
    font-style: oblique;
    text-align: center;
    color: #9B6464;
}

.column ul {
    list-style-type: none;
}

.button2 {
    display: block;
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    text-align: center;
    background-color: #581758;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.button2:hover {
    background-color: #5E3A5E;
}

.column img {
    display: block;
    margin: 0 auto;
    border: 2px solid #784D76;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    margin-bottom: 20px;
}
