body {
    background-repeat: no-repeat;
    width: 100%;
    margin: 0; /* Add margin to prevent default spacing */
    font-family: Arial, sans-serif; /* Specify a fallback font */
}
h1, h2 {
    text-align: center;
    font-style: italic;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}
.header {
    text-align: center;
    margin-bottom: 20px;
}
.button {
    display: block;
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    text-align: center;
    background-color: #ffffff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.header h1 {
    font-style:Bold;
    font-size:2cm;
    color: #f87d02;
}

.header h2 {
    font-family: Monospace;
    font-size:1cm;
    color: #3B8AA9;
}
#gifDisplay {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 20px auto; /* Center the image horizontally */
    border: 2px solid black;
    border-radius: 10px;
}
input {
    padding: 10px; /* Adjust padding for input */
    margin: 10px; /* Add margin for spacing */
    background-color: beige;
    border: 2px solid black;
    border-radius: 5px;
}
button {
    font-size: 20px;
    padding: 10px 20px; /* Add padding for button */
    margin-top: 20px; /* Add margin for spacing */
}
div.s {
    border: 2px solid black;
    padding: 20px; /* Add padding for content */
    margin: 20px auto; /* Center the div horizontally and add margin */
    max-width: 600px; /* Set a maximum width for better layout */
}